<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="generalDeviceConfig" type="MultiControlHost.GeneralDeviceConfig, MultiControlHost, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="infraredControllerConfig" type="MultiControlHost.InfraredControllerConfig, MultiControlHost, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="resistiveControllerConfig" type="MultiControlHost.ResistiveControllerConfig, MultiControlHost, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="actionsConfig" type="MultiControlHost.ActionsConfig, MultiControlHost, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="temperatureSensorsConfig" type="MultiControlHost.TemperatureSensorsConfig, MultiControlHost, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="RGBControllerConfig" type="MultiControlHost.RGBControllerConfig, MultiControlHost, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <generalDeviceConfig xmlns="urn:MultiControlHost">
    <connection>
      <PortNumber value="COM14"/>
      <BaudRate value="57600"/>
      <DataBits value="8"/>
      <StopBits value="One"/>
      <Parity value="None"/>
    </connection>
  </generalDeviceConfig>
  <temperatureSensorsConfig xmlns="urn:MultiControlHost">
    <options>
      <ROMsize value="8" />
      <askInterval value="1" />
      <saveInterval value="10" />
      <maxDevices value="10" />
      <tempTableVisibleValuesNumber value="50"/>
    </options>
  </temperatureSensorsConfig>
  <infraredControllerConfig>
    <remoteControllers>
      <remoteController name="default">
        <buttons>
          <button id="0" name="Key1" code="6F90FF00" />
          <button id="1" name="Key2" code="AF50FF00" />
          <button id="2" name="Key3" code="EF10FF00" />
        </buttons>
      </remoteController>
    </remoteControllers>
    <options>
      <CurrentRemoteController value="default" />
      <AllowLongPress value="" />
      <Enabled value="" />
    </options>
  </infraredControllerConfig>
  <resistiveControllerConfig xmlns="urn:MultiControlHost">
    <buttons>
      <button id="1" name="Vol+" code="100" action="1"/>
      <button id="2" name="Vol-" code="200" action="2"/>
      <button id="3" name="Mute" code="300" action="3"/>
      <button id="4" name="Next" code="400" action="4"/>
      <button id="5" name="Prev" code="500" action="5"/>
      <button id="6" name="Mode" code="600" action="6"/>
    </buttons>
  </resistiveControllerConfig>
  <actionsConfig xmlns="urn:MultiControlHost">
    <Actions>
      <ActionDescriptor id="1" name="asdf" type="23" value="23"/>
      <ActionDescriptor id="2" name="bbb" type="23" value="2"/>
      <ActionDescriptor id="3" name="ccc" type="23" value="3"/>
    </Actions>
  </actionsConfig>
  <RGBControllerConfig xmlns="urn:MultiControlHost">
    <options>
      <mode value="singleColor" />
      <defaultColor value="AA23CC" />
      <colorPreset value="rainbow" />
    </options>
    <colorPresets>
      <colorPreset name="rainbow">
        <transitions>
          <colorPoint index="3" duration="5" color="AA00FF"/>
          <colorPoint index="4" duration="5" color="FFFF00"/>
          <colorPoint index="5" duration="5" color="FF00FF"/>
          <colorPoint index="1" duration="10" color="CEBA8F"/>
          <colorPoint index="2" duration="5" color="0002A8"/>
        </transitions>
      </colorPreset>
    </colorPresets>
  </RGBControllerConfig>
</configuration>
