<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="generalDeviceConfig" type="MultiControlHost.GeneralDeviceConfig, MultiControlHost, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="infraredControllerConfig" type="MultiControlHost.InfraredControllerConfig, MultiControlHost, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="resistiveControllerConfig" type="MultiControlHost.ResistiveControllerConfig, MultiControlHost, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="actionsConfig" type="MultiControlHost.ActionsConfig, MultiControlHost, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <generalDeviceConfig xmlns="urn:MultiControlHost">
    <connection>
      <PortNumber value="COM7" />
      <BaudRate value="9600" />
      <Parity value="None" />
      <StopBits value="One" />
      <DataBits value="8" />
    </connection>
  </generalDeviceConfig>
  <infraredControllerConfig xmlns="urn:MultiControlHost" currentRemoteController="Default">
    <settings>
      <CurrentRemoteController value="Default" />
      <AllowLongPress value="False" />
      <Enabled value="True" />
    </settings>
    <remoteControllers>
      <remoteController name="Default">
        <buttons>
          <button id="0" name="On" code="F708BF40" />
          <button id="1" name="Off" code="F708BF40" />
          <button id="2" name="Mute" code="F708BF40" />
          <button id="3" name="Key4" code="F708BF40" />
          <button id="4" name="Key5" code="F708BF40" />
          <button id="5" name="Key6" code="F708BF40" />
        </buttons>
      </remoteController>
    </remoteControllers>
  </infraredControllerConfig>
  <resistiveControllerConfig xmlns="urn:MultiControlHost">
    <buttons>
      <button id="0" name="Vol+" code="100" action=""/>
      <button id="1" name="Vol-" code="200" action=""/>
      <button id="2" name="Mute" code="300" action=""/>
      <button id="3" name="Next" code="400" action=""/>
      <button id="4" name="Prev" code="500" action=""/>
      <button id="5" name="Mode" code="600" action=""/>
    </buttons>
  </resistiveControllerConfig>
  <actionsConfig xmlns="urn:MultiControlHost">
    <actions>
      <action id="0" type="1" name="MMedia_FastForward" value="234234"/>
      <action id="1" type="1" name="MMedia_Rewind" value="181734"/>
      <action id="2" type="1" name="MMedia_Stop" value="235321"/>
      <action id="3" type="1" name="MMedia_Play" value="388211"/>
    </actions>
  </actionsConfig>
</configuration>
